
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playpen+Sans:wght@100..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans", cursive;
    font-size: 12px;
    color: rgba(131, 99, 2, 0.805);
    text-align: center;
}

/* Intro Page */
.Intro_Container{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(242, 201, 165, 0.052), rgba(241, 148, 171, 0.085)),url('assets/Images/BG_Theme.png');
    background-size: cover;
}
.text{
    margin-top: 50px;
    padding: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}
.text h1{
    margin-top: 20px;
}
.Gold_Line{
   height: 40px;
}
.Gold_Line img{
    height: 30px;
    width: 80%;
}
.Gold_Line2{
    height: 10px;
}
.Gold_Line2 img{
    margin-top: 10px;
    height: 15px;
}
.Quoate{
    font-size: 14px;
    font-weight: 500;
}

/* Bride_Groom */
.Bride_Groom{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(242, 201, 165, 0.052), rgba(241, 148, 171, 0.085)),url('assets/Images/BG_Theme.png');
    background-size: cover;
}
.Bride{
    margin-top: 30px;
}
.Bride img{
    height: 60%;
    width: 40%;
    border: 2px solid burlywood;
    padding: 10px;
    border-radius: 10px;
}
.Bride p{
    background-color: rgba(249, 203, 142, 0.356);
    padding: 20px;
    font-size: 12px;
    border-radius: 10px;
}

/* Photo Gallery */
.Photo_Gallery{
    padding: 20px;
    background: linear-gradient(rgba(242, 201, 165, 0.052), rgba(241, 148, 171, 0.085)),url('assets/Images/BG_Gallery.png');
    background-size: cover;
}
.Pictures{
    margin-top: 20px;
}
.Pics img{
   height: auto;
   max-height: 300px;
   width: 110px;
   border: 2px solid green;
}

.lg-react-element {
   column-count: 3;
   column-gap: 2;
}

/* Video-Player */
.Video-Player{
    margin-top: 50px;
    border: 2px solid burlywood;
    padding: 12px;
}
.Video-Player video{
    height: 120%;
    width: 100%;
}

/* Location */
.Location_Container{
    padding: 20px;
    background: linear-gradient(rgba(242, 201, 165, 0.052), rgba(241, 148, 171, 0.085)),url('assets/Images/BG_Theme.png');
    background-size: cover;
}
.Iframe{
    border: 2px solid burlywood;
    padding: 10px;
}
.btn{
    border: 2px solid burlywood;
    padding: 10px 40px;
    background-color: rgba(64, 2, 2, 0.804);
    color: antiquewhite;
}
.btn a{
    color: antiquewhite;
    text-decoration: none;
}

/* Best_Wishes */
.Best_Wishes{
    height: 500px;
    padding: 40px;
    background: linear-gradient(rgba(242, 201, 165, 0.052), rgba(241, 148, 171, 0.085)),url('assets/Images/BG_Theme.png');
    background-size: cover;
}
.Best_Wishes h2{
    margin-top: 20%;
}
.wishes{
    font-size: 15px;
    border: 2px solid burlywood;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
}